@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Job配置";
}

<div class="box-body chat" id="chat-box">

    <h2>首页</h2>
    @Html.ActionLink("新建", "Edit")
    <br /><br />
    <br />
</div>