@{
    ViewBag.Title = "Job配置";
}
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <style>
        .panel {
            width: 1170px;
            margin: auto;
        }

        .actions {
            float: right;
            color: white;
        }

        .white {
            color: white;
        }

        .actions a {
            color: white !important;
        }

        .row {
            /*line-height: 26px;
        height: 26px;*/
            margin: 6px 6px;
        }
    </style>
    @RenderSection("HeaderSection", false)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="../" class="navbar-brand">定时任务管理器</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/CronJobs/TaskList" id="themes">任务列表 <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes">
                            <li><a href="/CronJobs/TaskList">任务列表</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="../help/">权限管理</a>
                    </li>
                    <li>
                        <a href="http://news.bootswatch.com">日志管理</a>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>
                </ul>

            </div>
        </div>

        <div class="panel panel-primary">
            @RenderBody()
        </div>

    </div>
</body>
</html>